<h1>Blog Pages</h1>

<!-- <%= @pages.first.title %> -->

<!--
    <% 4.times do %>
        <p>Fish</p>
        <p><%= @pages.first.title %></p>
    <% end %>
-->

<% @pages.each do |item| %>
    <p><%= item.title %></p>
<% end %>